:root {
	--color-scheme: dark;
	--pico-typography-spacing-vertical: 0;
	--pico-spacing: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.space {
	height: 35px;
}

.description {
	text-align: center;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
	padding: 20px;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: white;
	transition: transform .2s;
}

.project:hover {
	transform: scale(1.025);
}

.gold {
	color: #525FE1;
	font-weight: 600;
}

.techContainer {
	width: min(800px, 100%);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.tech {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tech > img {
	width: 75px;
	height: 75px;
}

